html, body {
    background-color: #222222;
}


.whiteText {
    color: white;
}

hr {
    border-top: 1px solid #080808 !important;
}
#dropDownButton {
    border-top: #080808 1px solid;
    padding-left: 47%;
    cursor: pointer;
    display: none;
}

.glyphicon-chevron-down {
    color: white;
    font-size: 23px;
}
#fsScheduleInputs {
    margin-top: 20px;
}

#flightBox {
    margin-top: 30px;
}

#submitBtn {
    margin-top: 20px;
}

.datepicker {
    padding: 6px 12px !important;
}

#modalButton2 {
    margin-top: 15px;
}
.close {
    color: white;
}
.modal-content {
    background-color: #222222;
    color: white;
}
.btn-lg {
    white-space: normal;
}

/*Tab Styling*/
.bar {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
}

.icon {
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.tabText {
    margin-top: 7px;
}

#tabBox {
    display: none;
}

#tab1 {
    border: 2px solid grey;
    border-right: none;
    background-color: #777777;
    border-radius: 5px 0 0 5px;
}

#tab2 {
    border: 2px solid grey;
    background-color: #777777;
    border-radius: 0 5px 5px 0;
}

/*Accordion Stuff*/
a {
    text-decoration: none;
}

:focus, :active {
    outline: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    margin: 50px auto;
}
#hideAccordion1, #hideAccordion2 {
    display: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: #6d6d6d !important;
}
.accordion .ui-accordion-content {
    width: 100%;
    background-color: #f3f3f3;
    color: #777;
    font-size: 10pt;
    line-height: 16pt;
}

    .accordion .ui-accordion-content > * {
        margin: 0;
        padding: 20px;
    }
    .accordion .ui-accordion-content a {
        color: #777;
    }

.accordion .ui-accordion-header {
    background-color: #ccc;
    margin: 0px;
}
    .accordion .ui-accordion-header {
        color: #fff;
        line-height: 42px;
        display: block;
        font-size: 16pt;
        width: 100%;
        text-indent: 10px;
    }
  
        .accordion .ui-accordion-header {
            background-color: #777777;
            color: lightgrey;
        }

      
    .accordion .ui-accordion-header a {
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
        border-right: 1px solid rgba(0, 0, 0, .2);
        border-left: 1px solid rgba(0, 0, 0, .2);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        border-top: 1px solid black;
    }

.accordion .ui-accordion-content {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .4), inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
}

    .accordion .ui-accordion-content:last-of-type {
        box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2), inset 0px 0 0px 0px rgba(0, 0, 0, .5);
    }


/*Google map stuff*/
#map, #map2 {
    height: 100%;
}

.mapContainer {
    height: 400px;
    width: 100%;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/*Weather Image Styling*/
#dWeatherImage0, #dWeatherImage1, #aWeatherImage0, #aWeatherImage1 {
    margin-top: 20px;
}
.sunny { 
    width: 80px;
    height: 80px;
    background: url('Images/weathericons-sm.jpg') -75px -75px;
}

.cloudy {
    width: 110px;
    height: 80px;
    background: url('Images/weathericons-sm.jpg') -205px -75px;
}

.partlycloudy {
    width: 110px;
    height: 85px;
    background: url('Images/weathericons-sm.jpg') -365px -80px;
}

.rain {
    width: 80px;
    height: 85px;
    background: url('Images/weathericons-sm.jpg') -550px -100px;
}

.lightrain {
    width: 80px;
    height: 85px;
    background: url('Images/weathericons-sm.jpg') -75px -1835px;
}

.hurricane {
    width: 110px;
    height: 100px;
    background: url('Images/weathericons-sm.jpg') -7015px -7020px;
}

.thunderstorm {
    width: 87px;
    height: 100px;
    background: url('Images/weathericons-sm.jpg') -4705px -5995px;
}

.snow {
    width: 85px;
    height: 95px;
    background: url('Images/weathericons-sm.jpg') -75px -5995px;
}

.windy {
    width: 125px;
    height: 80px;
    background: url('Images/weathericons-sm.jpg') -4705px -1835px;
}