@{
    ViewBag.Title = "Fly On Time";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/Home.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />

<div id="flightModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose Your Flight</h4>
            </div>
            <div id="modalBody" class="modal-body">
                <button class="btn btn-lg">Kansas to Texas</button>
                <button class="btn btn-lg">Texas to Kansas</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="fsScheduleInputs">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="fsScheduleAirCode">Airline Code</label>
                <input type="text" id="fsScheduleAirCode" class="form-control" value="AA" placeholder="Enter airline code">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="fsScheduleFN">Flight Number</label>
                <input type="text" id="fsScheduleFN" class="form-control" value="323" placeholder="Flight Number">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="fsScheduleFN">Departure Date</label>
                <input type="text" id="fsDate" class="form-control datepicker" placeholder="Departure Date">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="submitBtn" class="btn btn-lg btn-block btn-success">Submit</button>
        </div>
    </div>
</div>

<div id="tabBox" class="bar row">
    <div id="tab1" class="icon col-xs-6"><span id="tab1Text" class="tabText">Flight 1</span></div>
    <div id="tab2" class="icon col-xs-6"><span id="tab2Text" class="tabText">Flight 2</span></div>
</div>

<div id="hideAccordion1">
    <div class="accordion">
        <h3>Guidance To Airport</h3>
        <div style="height:400px; width: 100%">
            <div id="map"></div>
        </div>
        <h3>Departure Airport Information</h3>
        <div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <p><strong>Departing</strong></p>
                    <p id="dName0"></p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p><strong>On</strong></p>
                    <p id="dDate0"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p><strong>Departure Gate</strong></p>
                    <p id="dGate0"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Scheduled</strong></p>
                    <p id="dGateSchedTime0"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Estimated</strong></p>
                    <p id="dGateEstTime0"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p><strong>Terminal</strong></p>
                    <p id="dTerminal0"></p>
                </div>
            </div>
        </div>
        <h3>Arrival Airport Information</h3>
        <div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <p><strong>Arriving</strong></p>
                    <p id="aName0"></p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p><strong>On</strong></p>
                    <p id="aDate0"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p><strong>Arrival Gate</strong></p>
                    <p id="aGate0"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Scheduled</strong></p>
                    <p id="aGateSchedTime0"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Estimated</strong></p>
                    <p id="aGateEstTime0"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p><strong>Terminal</strong></p>
                    <p id="aTerminal0"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Baggage</strong></p>
                    <p id="aBaggage0"></p>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="hideAccordion2">
    <div class="accordion">
        <h3>Guidance To Airport</h3>
        <div style="height:400px; width: 100%">
            <div id="map2"></div>
        </div>
        <h3>Departure Airport Information</h3>
        <div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <p><strong>Departing</strong></p>
                    <p id="dName1"></p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p><strong>On</strong></p>
                    <p id="dDate1"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p><strong>Departure Gate</strong></p>
                    <p id="dGate1"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Scheduled</strong></p>
                    <p id="dGateSchedTime1"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Estimated</strong></p>
                    <p id="dGateEstTime1"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p><strong>Terminal</strong></p>
                    <p id="dTerminal1"></p>
                </div>
            </div>
        </div>
        <h3>Arrival Airport Information</h3>
        <div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <p><strong>Arriving</strong></p>
                    <p id="aName1"></p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p><strong>On</strong></p>
                    <p id="aDate1"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p><strong>Arrival Gate</strong></p>
                    <p id="aGate1"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Scheduled</strong></p>
                    <p id="aGateSchedTime1"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Estimated</strong></p>
                    <p id="aGateEstTime1"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p><strong>Terminal</strong></p>
                    <p id="aTerminal1"></p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <p><strong>Baggage</strong></p>
                    <p id="aBaggage1"></p>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $('.datepicker').datepicker({
        orientation: 'bottom',
        startDate: '-3d',
        autoclose: true
    });
    $('.datepicker').datepicker('setDate', 'now');


    $.getScript("/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js", function () {

        //#region DISPLAY FUNCTIONS
        var constructLayout = function (flights, flightInfo) {
            var flightObj = JSON.parse(flights);
            var departureAirport = flightObj.appendix.airports[0];
            var arrivalAirport = flightObj.appendix.airports[1];

            $('#hideAccordion1').slideDown();
            $(".accordion").accordion({
                collapsible: true,
                active: false,
                activate: activateGoogleMaps,
                heightStyle: "content"
            });
            //console.log(flights);

            flightInfo.airportSC = flightObj.scheduledFlights.departureAirportFsCode;
            getFlightStatus(flightInfo);
        }



        var displayStatusInfo = function (info, index) {
            //Check that there is actually info
            var airportResources = info.flightStatuses[index] == undefined ? undefined : info.flightStatuses[0].airportResources;


            if (airportResources !== undefined) {
                //Departure Airport
                $('#dName' + index).html('');
                $('#dDate' + index).html('');
                $('#dGate' + index).html('');
                $('#dGateSchedTime' + index).html("");
                $('#dGateEstTime' + index).html("");
                $('#dTerminal' + index).html('');
                $('#dBaggage' + index).html('');

                $('#dDate' + index).append(info.flightStatuses[index].operationalTimes.scheduledGateDeparture.dateUtc)
                $('#dGateSchedTime' + index).append(info.flightStatuses[index].operationalTimes.scheduledGateDeparture.dateUtc)
                $('#dGateEstTime' + index).append(info.flightStatuses[index].operationalTimes.estimatedGateDeparture.dateUtc)
                $('#dGate' + index).append(airportResources.departureGate)
                $('#dTerminal' + index).append(airportResources.departureTerminal)
                $.each(info.appendix.airports, function (i, v) {
                    if (v.fs == info.flightStatuses[index].departureAirportFsCode) {
                        $('#dName' + index).append(v.fs + " - " + v.name);
                        destinationLocation = {
                            lat: v.latitude,
                            lng: v.longitude
                        };
                    }
                });

                //Arrival airport
                $('#aName' + index).html('');
                $('#aDate' + index).html('');
                $('#aGate' + index).html('');
                $('#aGateSchedTime' + index).html("");
                $('#aGateEstTime' + index).html("");
                $('#aTerminal' + index).html('');
                $('#aBaggage' + index).html('');

                console.log(info);
                $('#aDate' + index).append(info.flightStatuses[index].operationalTimes.scheduledGateArrival.dateUtc)
                $('#aGateSchedTime' + index).append(info.flightStatuses[index].operationalTimes.scheduledGateArrival.dateUtc)
                $('#aGateEstTime' + index).append(info.flightStatuses[index].operationalTimes.estimatedGateArrival.dateUtc)
                $('#aTerminal' + index).append(airportResources.arrivalTerminal)
                $('#aGate' + index).append(airportResources.arrivalGate)
                $('#aBaggage' + index).append(airportResources.baggage)
                $.each(info.appendix.airports, function (i, v) {
                    if (v.fs == info.flightStatuses[index].arrivalAirportFsCode) {
                        $('#aName' + index).append(v.fs + " - " + v.name);
                    }
                });
            }
            else {
                $('#dGateSchedTime' + index).append("N/A");
                $('#dGateEstTime' + index).append("N/A");
                $('#dGate' + index).append("N/A");
                $('#dTerminal' + index).append("N/A");

                $('#aGateSchedTime' + index).append("N/A");
                $('#aGateEstTime' + index).append("N/A");
                $('#aGate' + index).append("N/A");
                $('#aTerminal' + index).append("N/A");
                $('#aBaggage' + index).append("N/A");
            }
        }

        var getFlightStatus = function (input) {
            $.get("/Home/getFlightStatus", input, function (data, textStatus, XQHR) {
                //console.log("Flight status: " + data);
                var jsonData = JSON.parse(data);

                displayStatusInfo(jsonData, 0);
                displayStatusInfo(jsonData, 1);

            }).error(function (data, text) {
                console.log(data);
            });
        }


        var getFlightSchedule = function () {
            var airCode = $('#fsScheduleAirCode').val();
            var fn = $('#fsScheduleFN').val();
            var fullDate = $('#fsDate').val();
            var month = fullDate.substr(0, 2);
            var day = fullDate.substr(3, 2);
            var year = fullDate.substr(6, 4);
            var output = { airCode: airCode, fn: fn, year: year, month: month, day: day };

            $.get("/Home/getFlightSchedule", output, function (data, textStatus, XQHR) {
                constructLayout(data, output);


            }).error(function (data, text) {
                console.log(data);
            });

        }

        //#endregion

        //Googles Maps stuff
        var map, infoWindow;
        var directionsService, directionsDisplay;
        //An explanation of the destination location can be found in tarnation!
        var destinationLocation, currentLocation;

        function initMap() {
            directionsService = new google.maps.DirectionsService;
            directionsDisplay = new google.maps.DirectionsRenderer;
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 6
            });
            infoWindow = new google.maps.InfoWindow;
            directionsDisplay.setMap(map);

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    currentLocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    //Calling at this location so that the origin position is there.
                    calculateAndDisplayRoute(directionsService, directionsDisplay, currentLocation, destinationLocation);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay, currentLocation, destinationCoordinates) {
            directionsService.route({
                origin: currentLocation,
                destination: destinationCoordinates,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }


        //PAGE EVENTS

        $('body').on('click', '#searchBtn', function () {
            var input = $('#shortcodeInput').val();
            getTsaCheckpoint(input);
        });

        $('body').on('click', '#submitBtn', function () {
            getFlightSchedule();
            //$('#flightModal').modal('toggle');
        });

        $('body').on('click', '#tab1', function () {
            $('#hideAccordion2').hide();
            $('#hideAccordion1').show();
        });

        $('body').on('click', '#tab2', function () {
            $('#hideAccordion1').hide();
            $('#hideAccordion2').show();
        });

        var activateGoogleMaps = function () {
            initMap();
        }
    });
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf3CLng_I7aSdXXBEIJZJEf3_WNK7patA">
</script>

