@{
    ViewBag.Title = "Fly On Time";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/Home/APIcalls.js"></script>
<link href="~/Content/Home.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />

<div id="flightModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose Your Flight</h4>
            </div>
            <div id="modalBody" class="modal-body">
                <button class="btn btn-lg">Kansas to Texas</button>
                <button class="btn btn-lg">Texas to Kansas</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="fsScheduleInputs">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="fsScheduleAirCode">Airline Code</label>
                <input type="text" id="fsScheduleAirCode" class="form-control" value="AA" placeholder="Enter airline code">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="fsScheduleFN">Flight Number</label>
                <input type="text" id="fsScheduleFN" class="form-control" value="80" placeholder="Flight Number">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="fsScheduleFN">Departure Date</label>
                <input type="text" id="fsDate" class="form-control datepicker" placeholder="Departure Date">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="submitBtn" class="btn btn-lg btn-block btn-success">Submit</button>
        </div>
    </div>
</div>

<div id="accordion">
    <h3>Travel & Parking</h3>
    <div class="row">
        <p>Ladeeda</p>
    </div>
    <h3>Departure Airport Information</h3>
    <div class="row">
        <div class="col-xs-4">
            <p><strong>Departure Gate</strong></p>
            <p id="dGate0"></p>
        </div>
        <div class="col-xs-4">
            <p><strong>Scheduled</strong></p>
            <p id="dGateSchedTime0"></p>
        </div>
        <div class="col-xs-4">
            <p><strong>Estimated</strong></p>
            <p id="dGateEstTime0"></p>
        </div>
    </div>
    <h3>Arrival Airport Information</h3>
    <div>
        <div class="row">
            <div class="col-xs-4">
                <p><strong>Arrival Gate</strong></p>
                <p id="aGate0"></p>
            </div>
            <div class="col-xs-4">
                <p><strong>Scheduled</strong></p>
                <p id="aGateSchedTime0"></p>
            </div>
            <div class="col-xs-4">
                <p><strong>Estimated</strong></p>
                <p id="aGateEstTime0"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <p><strong>Baggage</strong></p>
                <p id="aBaggage0"></p>
            </div>
            <div class="col-xs-4">
                <p><strong>Scheduled</strong></p>
                <p id="aGateSchedTime0"></p>
            </div>
            <div class="col-xs-4">
                <p><strong>Estimated</strong></p>
                <p id="aGateEstTime0"></p>
            </div>
        </div>
    </div>
</div>

<div class="row" id="flightBox">
    <div class="col-md-12">
        <p id="displayBox"></p>

    </div>
</div>


<script>
    $('.datepicker').datepicker({
        orientation: 'bottom'
    });
    $("#accordion").accordion({
        collapsible: true
    });
</script>

